@model List<ViewDepartment>






@section desc {
    <div style="border-right: 1.5px solid black; padding: 10px; float: left;  width: 30vw; height: 50vh; position: fixed">
        <h3>Факультет</h3>
        <a asp-controller="Home" asp-action="AddDepartment">Добавить новый факультет</a>
    </div>
}
<table class="table table-hover" style="  width: 70vw; margin-left: 30vw">
    <thead>
        <tr>
            <th>Кафедра</th>
            <th>Заведуюший</th>
            <th>Группы</th>
        </tr>
    </thead>
    @foreach (var department in Model)
    {
        <tr>
            <td>
                <a asp-controller="Group" asp-action="groupByDep" asp-route-Id="@department.Id">@department.Name</a>
            </td>
            <td>
                <a asp-controller="Teacher" asp-action="teacher" asp-route-Id="@department.HeadManId">@department.HeadMan</a>
            </td>
            <td>
                <a asp-controller="Group" asp-action="groupByDep" asp-route-Id="@department.Id">@department.GroupCount</a>
            </td>
        </tr>

    }
</table>